.App {
  text-align: center;
  grid-template-columns: 50px 1fr 50px;
  grid-gap: 10px;
}

.header {
  padding: 30px 30px 10px 30px;
  grid-columns: 2/3;
}

.home {
  padding: 0px 30px 10px 30px;
  grid-columns: 2/3;
}

#twopics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15px 1fr 1fr;
}

#p1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 0;
}

#p2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  
}

#p1x {
  grid-column-start: 4;
  grid-row-start:1;
  z-index: 5;
}

#p2x {
  grid-column-start: 7;
  grid-row-start: 1;
  z-index: 5;
}

#sdg-banner {
  width: 375px;
}

.imgInfo {
  width: 100px;
}

.bobCard {
  margin: 10px 0px 0px 100px;
  padding: 50px;
  width: 300px;
  border-color: #1c4402;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  background-color: #b6db9d;
}

.menu-links {
  padding: 20px;
}